.nav-container {
  color: white;
  font-family: sans-serif;
  font-size: 0;
}

.nav-list {
  background-color: rgb(233, 88, 35);
}

.list-item {
  display: inline-block;
  list-style-type: none;
  padding: 10px 15px;
  /* background-color: rgb(233, 88, 35); */
  font-size: 1rem;
  position: relative;
}

.list-item:hover {
  background-color: rgb(145, 46, 10);
  cursor: pointer;
}

.sub-list {
  position: absolute;
  display: none;
  left: 0;
  background-color: rgb(192, 53, 2);
  top: 100%;
}

.list-item:hover > .sub-list {
    display: block;
}

.sub-list-item {
  width: 100%;
  box-sizing: border-box;
}

.sub-sub-list {
    position: absolute;
    display: none;
    left: 100%;
    background-color: rgb(94, 31, 8);
    top: 0;
}

.sub-list-item:hover > .sub-sub-list {
    display: block;
}

.sub-sub-list-item {
    width: 100%;
    box-sizing: border-box;
  }