/* li:first-child {
  color: blue;
}

ul:first-of-type {
    color: chocolate;
} */

/* ul:first-of-type li:first-child {
    color: rgb(28, 216, 28);
} 

li:last-child {
    color: red;
}

li:last-of-type {
    color: blue;
}
ul:last-of-type li:last-child {
    color: hotpink;
} */

/* :nth-child() */

li:nth-child(even) {
  color: darkorange;
}

/* 
2n   - even - кожна друга(парна) дитина
2n+1 - odd  - кожна непарна дитина
*/

/* task
green: 2,4,8
red: 1,5,7
blue: 3,6
*/

.box {
  display: inline-block;
  width: 100px;
  height: 100px;
  background-color: red;
  margin-bottom: 30px;
}

/* .box:nth-child(odd) {
    background-color: red;
} */

.box:nth-child(even) {
  background-color: green;
}

.box:nth-child(3n + 1) {
  background-color: blue;
}

/* task table */
table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  font-size: 17px;
 font-family: Arial, Helvetica, sans-serif;
  color: white;
  margin-bottom: 50px;
}

thead {
  background-color: blue;
  /* border: 5px solid red; */
}

td {
    padding: 10px 0;
}
tr {
    height: 50px;
}

span {
  display: block;
}

tbody {
    color: lightgray;
 }

 tbody tr:nth-child(2n) {
    background-color: rgb(184, 182, 182);
  }

  /* tbody td:first-child, tfoot td:first-child {
    background-color: green;
  } */
tbody td:first-child, tfoot td:first-child {
    background-color: green;
  }

tfoot{
    color: lightgray;
}

button {
    min-width: 100px;
    padding: 5px 10px;
    color: lightgray;
    background-color: rgb(34, 34, 187);
    border: none;
    border-radius: 10px;
    font-size: inherit;
    font-family: inherit;
    cursor: pointer;
}
