:root {
    font-size: 17px;
}

h2 ~ p {
  color: purple;
}

h2 + p {
  color: green;
}

section {
  background-color: aqua;
}

div {
  width: 50px;
  height: 50px;
  background-color: black;
  display: inline-block;
  border-radius: 50%;
}

.box ~ .box {
  margin: 0 20px;
}

.navigation {
}

.link-list {
}

.link-list li {
  display: inline-block;
  list-style-type: none;
  margin-top: 30px;
}

.page-link {
  text-decoration: none;
  color: blueviolet;
  background-color: bisque;
  padding: 10px;
  cursor: pointer;
}

.page-link:hover {
  color: bisque;
  background-color: blueviolet;
}

.page-link:active {
  color: red;
  background-color: rgb(90, 190, 156);
}

article div, article section {
    background-color: hotpink;
border-radius: 50%;
width: 100px;
height: 100px;
display: inline-block;
margin: 10px;
}


/* first variant */

/* article div:hover {
    background-color: brown;
cursor: pointer;
} */

/* second */

.hover-div:hover:not(section) {
    background-color: blue;
    cursor: pointer;
}