.nav-container {
  color: white;
  font-family: sans-serif;
  font-size: 0;
}

.nav-list {
  background-color: rgb(233, 88, 35);
}

.list-item {
  display: inline-block;
  list-style-type: none;
  padding: 10px 15px;
  /* background-color: rgb(233, 88, 35); */
  font-size: 1rem;
  position: relative;
}

.list-item:hover {
  background-color: rgb(145, 46, 10);
  cursor: pointer;
}

.sub-list {
  position: absolute;
  display: none;
  left: 0;
  background-color: rgb(192, 53, 2);
  top: 100%;
}

.list-item:hover > .sub-list {
  display: block;
}

.sub-list-item {
  width: 100%;
  box-sizing: border-box;
}

.sub-sub-list {
  position: absolute;
  display: none;
  left: 100%;
  background-color: rgb(94, 31, 8);
  top: 0;
  /* width: inherit; */
}

.sub-list-item:hover > .sub-sub-list {
  display: block;
}

.sub-sub-list-item {
  width: 100%;
  box-sizing: border-box;
}

.sub-sub-sub-list {
  position: absolute;
  top: 0;
  left: 100%;
  display: none;
  background-color: rgb(50, 15, 2);
  /* width: inherit; */
}

.sub-sub-list-item:hover > .sub-sub-sub-list {
  display: block;
}

.sub-sub-sub-list-item {
  width: 100%;
  box-sizing: border-box;
  white-space: nowrap;
}

/* second part */

/* body {
  font-family: sans-serif;
}

p {
  color: blue;
}

p::first-letter {
  color: red;
  font-family: serif;
  font-size: 2em;
}

p::first-line {
  background-color: blanchedalmond;
}

p::before,
p::after {
  content: ' ';
  display: inline-block;
  color: red;
  font-size: 3em;
  background-color: coral;
  width: 20px;
  height: 20px;
}


p::selection {
  background-color: rgba(95, 158, 160, 0.613);
  color: aqua;
}

input::placeholder {
  background-color: deeppink;
  color: blue;
} */


/* task  */

p:nth-child(1)::first-line {
    background-color: burlywood;
}

p:nth-child(2)::first-line {
    background-color: rgb(135, 222, 218);
}

p:nth-child(3)::first-line {
    background-color: rgb(222, 135, 135);
}

p:nth-child(4)::first-line {
    background-color: rgb(222, 135, 202);
}

li:nth-child(1)::first-letter {
    color: blue;
    background-color: cornflowerblue;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
}

li:nth-child(2)::first-letter {
    color: rgb(255, 0, 13);
    background-color: rgb(100, 237, 207);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2em;
}

li:nth-child(3)::first-letter {
    color: rgb(242, 255, 0);
    background-color: rgb(237, 100, 235);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2em;
}

li:nth-child(4)::first-letter {
    color: rgb(0, 255, 51);
    background-color: rgb(237, 191, 100);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2em;
}

li:nth-child(5)::first-letter {
    color: rgb(0, 242, 255);
    background-color: rgb(237, 100, 134);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2em;
}

li:nth-child(6)::first-letter {
    color: rgb(255, 157, 0);
    background-color: rgb(171, 237, 100);
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
}

li:nth-child(7)::first-letter {
    color: rgb(187, 0, 255);
    background-color: rgb(100, 216, 237);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2em;
}

li:nth-child(8)::first-letter {
    color: rgb(0, 115, 255);
    background-color: rgb(100, 237, 178);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
}