/* body {
    height: 500vh;
}

.par {
    position: relative;
    top: 50px;
    left: 50px;
    margin-bottom: 20px;
    background-color: darkorange;
} */

/*  */

body {
    margin: 0;
}

.container {
    height: 800px;
    width: 80%;
    margin: 0 auto;
    background-color: cornflowerblue;

}

.wrapper {
    background-color: darksalmon;
    width: 80%;
    height: 800px;
}

.inner {
    position: fixed;
    text-align: center;
    font-size: 1.5em;
    width: 100px;
    height: 100px;
    border: 1px solid black;
    cursor: pointer;
}

.one {
    background-color: red;
}

.two {
    background-color: blue;
}

.three {
    background-color: yellow;
}

.three:hover {
    top: 50px;
    right: 50px;
}

.four {
    background-color: green;
}

.bottom {
    bottom: 20px;
}

.left {
    left: 20px;
}

.right {
    right: 20px;
}

.top {
    top: 20px;
}
