/* li:first-child {
  color: blue;
}

ul:first-of-type {
    color: chocolate;
} */

/* ul:first-of-type li:first-child {
    color: rgb(28, 216, 28);
} 

li:last-child {
    color: red;
}

li:last-of-type {
    color: blue;
}
ul:last-of-type li:last-child {
    color: hotpink;
} */

/* :nth-child() */

li:nth-child(even) {
  color: darkorange;
}

/* 
2n   - even - кожна друга(парна) дитина
2n+1 - odd  - кожна непарна дитина
*/

/* task
green: 2,4,8
red: 1,5,7
blue: 3,6
*/

.box {
  display: inline-block;
  width: 100px;
  height: 100px;
  background-color: red;
  margin-bottom: 30px;
}

/* .box:nth-child(odd) {
    background-color: red;
} */

.box:nth-child(even) {
  background-color: green;
}

.box:nth-child(3n + 1) {
  background-color: blue;
}

/* task table */
table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  margin-bottom: 50px;
}

p {
  padding: 0;
  margin: 0;
}

thead {
  font-size: 1.1em;
  background-color: blue;

}

thead td:first-child {
  font-weight: 800;
  margin-bottom: 20px;
}

thead td p:first-child {
  font-weight: 800;
}

td {
  padding: 15px 0;
}

tr {
  height: 50px;
}

.big-number {
  font-size: 1.3em;
}

tbody {
  color: darkgrey;
}

tbody tr:nth-child(2n) {
  background-color: #e9eaed;
}

tbody td:first-child, tfoot td:first-child {
  color: white;
  font-weight: 800;
}

tbody tr:nth-child(odd) td:first-child, tfoot tr:nth-child(odd) td:first-child {
  background-color: #4aa556;
}

tbody tr:nth-child(even) td:first-child{
  background-color: #60d055;
}

.green-check {
  color: #60d055;
  font-size: 1.5em;
}

tfoot {
  color: lightgray;
}

button {
  min-width: 100px;
  padding: 10px 20px;
  color: lightgray;
  background-color: rgb(34, 34, 187);
  border: none;
  border-radius: 10px;
  font-size: inherit;
  font-family: inherit;
  font-weight: 500;
  cursor: pointer;
}
