table {
    background-color: rgb(0, 193, 183);
    color: white;
    text-transform: uppercase;
}

caption {
    background-color: inherit;
    padding: 20px 0;
    font-size: 1.5em;
}

thead {
    background-color: rgb(50, 215, 205);
}

.head {
padding: 20px 35px;
}

td {
    padding: 10px 35px;
    font-size: 0.8em;
}